* {
  box-sizing: border-box;
}

p {
  padding: 10px;
}

h1,
h2,
h3 {
  text-align: center;
  color: white;
}

p a{
  color: lightseagreen;
}

a {
  text-decoration: none;
  color: #aaa;
}

a:hover {
  text-decoration: underline;
  color: white;
}

body {
  background-color: black;
  color: #aaa;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 150%;
}

ul {
  padding: 0;
  margin: 0;
}

.fill-width {
  width: 100%;
}

.content {
  border: #aaa;
  border-width: 2px;
  border-style: solid;
  background-color: #111;
  padding: 15px;
  width: 100%;
  margin-bottom: 20px;
}

.centered {
  text-align: center;
}

.tile-list li {
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  margin: 0 auto 15px auto;
}

.tile-list figure{
  width: 100%;
  display: inline-block;
  margin: 0px;
  background-color: #aaa;
}

.tile-list img{
  width: 100%;
  object-fit: cover;
}

.tile-list figure:hover{
  background-color: white;
  color: black;
  text-decoration: underline;
}

.tile-list figcaption{
  font-weight: bold;
  height: 20px;
  line-height: 100%;
}

.tile {
  display: block;
  width: 100%;
  color: black;
}

.menu li {
  display: block;
  line-height: 50px;
}

#title-name {
  color: white;
  font-weight: bold;
  font-size: 40px;
}

/* Desktop */
@media only screen and (min-width: 768px) {
  .content {
    max-width: 768px;
    margin: 20px auto;
  }

  .menu li {
    display: inline;
    padding-right: 30px;
  }

  .tile-list li {
    display: inline-block;
    height: 227px;
    width: 340px;
    margin: 12px 12px 40px 12px;
  }

  .tile {
    width: 340px;
  }
}
